.Xauthority
.gitconfig
.npm
.npm-global
yay-git
.cache
.local
.cargo
.config/gh
.lesshst
.bash_history
.zcompdump
.histfile
.pki
.mozilla/
.config/google-chrome
zoomus.enc.db
zoomus.tmp.enc.db
.zoom
.python_history
.bash*
