.Xauthority
.gitconfig
.npm
.npm-global
yay-git
.cache
.cargo
.config/gh
.lesshst
.bash_history
.zcompdump
.histfile
.pki
.mozilla/
.config/google-chrome
zoomus.enc.db
zoomus.tmp.enc.db
.zoom
.config/zoomus.conf.lock
.python_history
.bash*
.config/Code/*
!.config/Code/User
.local/
.config/aconfmgr/99-unsorted.sh
.surf/certificates/
.surf/cache/
.surf/cookies.txt
.config/obsidian/*
!.config/obsidian/Preferences
